<div id="<%= dom_id product %>">
  <% product.photos.each do |photo| %>
  <span>
    <%= image_tag url_for(photo.photo), height:200, width:200 if photo.photo.attached? %>
    </span>
  <% end %>
  <p>
    <strong>Id:</strong>
    <%= product.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>%
  </p>

  <p>
    <strong>You are Saving:</strong>
    <%= product.compare_at_price %>
  </p>

  <p>
    <strong>Currently available at:</strong>
    <%= product.current_price %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= product.is_active %>
  </p>

</div>
