<p style="color: green"><%= notice %></p>

<% content_for :title, "Photos" %>

<h1>Photos</h1>

<div id="photos">
  <% @photos.each do |photo| %>
    <%= render photo %>
    <p>
      <%= link_to "Show this photo", product_photo_path(id: photo.id) %>
    </p>
  <% end %>
</div>

<%= link_to "Back to products", product_path(id: params["product_id"]) %> |
<%= link_to "New photo", new_product_photo_path %>
