
<div class="card-body">
  <% if params[:action] == "index" %>
    <% photo = product.photos.first.photo %>
    <span>
      <%= image_tag url_for(photo), height:200, width:200 if photo.attached? %>
    </span>
  <% else %>
  <% product.photos.each do |photo| %>
    <span>
      <%= image_tag url_for(photo.photo), height:200, width:200 if photo.photo.attached? %>
    </span>
  <% end %>
  <% end %>
  <ul class="list-group list-group-flush">
    <h6 class="list-group-item">
      <strong>Name:</strong>
      <%= 
      if params[:action] == "index"    
        truncate(product.name)
      else
        product.name
      end  %>
    </h6>
    <% unless params[:action] == "index" %>
    <li class="list-group-item">
      <strong>Description:</strong>
      <%= product.description %>
    </li>
    <% end %>
    <li class="list-group-item">
      <strong>Price:</strong>
      <%= product.price %>
    </li>

    <li class="list-group-item">
      <strong>Discount:</strong>
      <%= product.discount %>%
    </li>

    <li class="list-group-item">
      <strong>You are Saving:</strong>
      <%= product.compare_at_price %>
    </li>

    <li class="list-group-item">
      <strong>Currently available at:</strong>
      <%= product.current_price %>
    </li>

    <li class="list-group-item">
      <strong>Is active:</strong>
      <%= product.is_active %>
    </li>
  </ul>

</div>
