<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1> <%= link_to "Add New product", new_product_path %>
<%= paginate @products %>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %> |
      <%= link_to "Add to Cart", product %> |
      <%= link_to "Buy Now", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
