<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1> 

<nav aria-label="Page navigation example">
  <div class="d-flex justify-content-around">
    <%= paginate @products %>
    <ul class="pagination">
      <li class="page-item"><%= link_to_prev_page @products, 'Previous', class:"page-link" %></li>
      <li class="page-item"><%= link_to_next_page @products, 'Next', class:"page-link" %></li>
    </ul>
    <div><%= page_entries_info @products, entry_name: 'product' %></div>
    <%= link_to "Add New product", new_product_path %>
  </div>
</nav>

<div id="products" class="d-flex justify-content-evenly">
  <% @products.each do |product| %>
    <div class="card">
      <%= render product %>
      <div class="card-footer">
        <%= link_to "Show this product", product %> |
        <%= link_to "Add to Cart", add_to_cart_path(product), data: { turbo_method: :post} %> |
        <%= link_to "Buy Now", new_order_path(:orders => {product.id => 1}) %>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-around">
<%= paginate @products %>
<%= link_to "New product", new_product_path %>
</div>
